# Binaries
server/bin/
*.exe

# Environment
.env
.env.local

# Database
*.db
*.db-shm
*.db-wal

# Storage
/server/storage/

# Node
web/node_modules/
web/.svelte-kit/
web/build/

# Go
server/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
.claude/
CLAUDE.md

# OS
.DS_Store
Thumbs.db

# TMP
/ROADMAP.md
/ISSUES.md